@function disabled-color ($color, $amount: 20) {
    @return lighten($color, $amount);
}

$complete-color: #81c784;
$completed-color: disabled-color($complete-color);
$pay-color: #ef9a9a;
$payed-color: disabled-color($pay-color, 13);

$hover-amount: 12;
$dashboard-margin: 35px;
