@import '../../common.scss';

:host {
    display: block;
    position: absolute;
    bottom: $dashboard-margin;
    right: $dashboard-margin;
}

.create {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 75px;
    cursor: pointer;
    outline: none;
    background-color: #f5f5f5;;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);

    i {
        $label-color: #949494;
        font-size: 48px;
        color: $label-color;
        @include transition();

        &:hover {
            color: darken($color: $label-color, $amount: 10);
        }
    }
}