@import '../../../../common.scss';

.toolbox-button {
    font-size: 21px;
    cursor: pointer;
    @include transition();

    &.disabled {
        cursor: default;
    }

    @mixin toolbox-button($color-button, $disabled-color) {
        color: $color-button;

        &:hover {
            color: darken($color: $color-button, $amount: $hover-amount);
        }

        &.disabled {
            color: $disabled-color;

            &:hover {
                color: $disabled-color;
            }
        }
    }

    &.complete {
        @include toolbox-button($complete-color, $completed-color);
    }

    &.pay {
        @include toolbox-button($pay-color, $payed-color);
    }
}