@import '../../../common.scss';

:host {
    display: flex;
    min-width: 218px;
    min-height: 100px;
    background-color: #f5f5f5;
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    border: 1px solid #dadada;
    @include transition();
    margin-right: 20px;
    margin-bottom: 20px;

    &:hover {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.25);
    }

    .content {
        display: flex;
        margin: 15px;
        flex-grow: 1;
        cursor: pointer;

        &.disabled {
            cursor: default;
        }
    }
}