<div class="content" >
    <ng-container [ngSwitch]="selectedStatus">
        <div class="info" *ngSwitchCase="startedStatus">
            <label class="label">
                Arrival
            </label>
            <div class="date">
                20 Dec 2019 10:20
            </div>
        </div>
        <div class="info" *ngSwitchCase="completedStatus">
            <label class="label">
                Complete
            </label>
            <div class="date">
                20 Dec 2019 11:00
            </div>
        </div>
    </ng-container>
    <div class="toolbox">
        <i class="material-icons toolbox-button complete" (click)="onComplete($event)">check_circle</i>
    </div>
</div>
