@model string

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CarParkingUI</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="content/favicon.ico">
        <link rel="preload" href="MaterialIcons-Regular.woff2" as="font" crossorigin>
    </head>
    <body>
        <input id="app-settings" type="hidden" value="@Model" />
        <application></application>
    </body>
</html>